/**
 * style.css
 * Author: Jackson Eshbaugh
 * Version: 03/14/2024
 *
 * Colors:
 * Primary: #4a90e2ff;
 * Secondary: #e6e6faff;
 * Tertiary: #fac8cd;
 * Accent: #156064ff;
 * Background: #faf9f6ff;
 * Text Color: #36454fff;
 * Secondary Text Color: #708090ff;
 */

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #e8e6e4;

    /* sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    border-bottom: 1px solid gray;
    height: 10%;
}

nav .name {
    font-size: 1.5em;
    font-weight: 600;
    color: #36454fff;
    margin-left: .5em;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 30%;
}

nav .links li {
    display: inline;
}

nav .links li a {
    color: #36454fff;
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.25em;
    transition: 0.3s;
}

nav .links li a.active {
    color: #4a90e2ff;
}

nav .links li a:hover {
    color: #4a90e2ff;
}

nav .hamburger {
    display: none;
    font-size: 2em;
    margin-right: 1em;
    cursor: pointer;
}

nav .hamburger div {
    width: 1.5em;
    height: 3px;
    background: #36454fff;
    margin: .3em 0;
    transition: 0.3s;
}

nav .hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(.25em, .55em);
}

nav .hamburger.active div:nth-child(2) {
    opacity: 0;
}

nav .hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(0 , -.75em);
}

.side-nav {
    /* comes in from the right */
    position: absolute;
    top: 9%;
    right: -100%;
    width: 50%;
    height: auto;
    background: #e8e6e4;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: black 0 0 10px;
}

.side-nav.active {
    display: block;
    right: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.side-nav ul li {
    display: block;
    margin: 1em 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
}

.side-nav ul li:first-child {
    margin-top: 2em;
}

.side-nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 1.25em;
}

.side-nav ul li a {
    color: #36454fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.3s;
}

.side-nav ul li a.active {
    color: #4a90e2ff;
}

.side-nav ul li a:hover {
    color: #4a90e2ff;
}

.side-nav {
    display: none;
}

/* on mobile devices, display the hamburger menu */

@media (max-width: 768px) {
    nav .links {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
}

/* Main Content */

.main {
    margin-top: .95em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    overflow: visible;
    /* sticky footer */
    flex-grow: 1;
}

/* Image-Text */

.image-text {
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: black 0 0 10px;
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

.image-text img {
    display: inline;
    width: 50%;
    height: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.image-text .text {
    display: flex;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.image-text .text .inner {
    padding: 2em;
    box-sizing: border-box;
}

.image-text .text h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #36454fff;
}

.image-text .text p {
    font-size: 1.25em;
    color: #36454fff;
}

.socials {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.socials a {
    display: inline-block;
    margin: 0 1em;
    font-size: 2em;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .image-text .text {
        margin-top: 2em;
    }

    .socials {
        margin-top: 2em;
    }
}

.pop {
    color: #e6e6faff;
    font-size: 1.5em;
    padding: 1em;
    max-width: 40%;
    border-radius: 15px;
    margin: 1.5em 0;
    text-align: center;
    background: #4a90e2ff;
}

@media (max-width: 768px) {
    .image-text {
        flex-direction: column;
        width: 100%;
    }

    .image-text img {
        width: 100%;
        height: 25%;
        margin-right: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .image-text .text {
        width: 100%;
        height: 50%;
    }

    .pop {
        max-width: 100%;
    }
}

/* Navigation Buttons */

.navigation-buttons {
    display: flex;
    width: 30em;
    font-size: 1.5em;
}

.navigation-buttons a.button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.navigation-buttons a.button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navigation-buttons a.button {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    background: #4a90e2ff;
    transition: 0.3s;
    margin: 0;
    width: 10em;
    text-align: center;
}

.navigation-buttons a.button:hover {
    color: #4a90e2ff;
    background: #e6e6faff;
}

.navigation-buttons a.button.secondary {
    background: #ffafb0;
}

.navigation-buttons a.button.secondary:hover {
    color: #f37b7f;
    background: rgba(250, 200, 205, 0.46);
}

.navigation-buttons a.button.tertiary {
    background: #1b5d62;
}

.navigation-buttons a.button.tertiary:hover {
    color: #1b5d62;
    background: #d4dfe3;
}

/* On mobile devices, stack the buttons */

@media (max-width: 768px) {
    .navigation-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navigation-buttons a.button:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .navigation-buttons a.button:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .navigation-buttons a {
        width: 75%;
        margin: 0;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    border-top: 1px solid gray;
}

footer .copyright {
    font-size: 1.25em;
    color: #36454fff;
    text-align: center;

}

/* Util */

.spacer {
    display: block;
    margin: 1.5em 0;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

body.lock-scroll {
    overflow: hidden;
}

/* Responsive */


