/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/**
 * style.css
 * Author: Jackson Eshbaugh
 * Version: 03/14/2024
 *
 * Colors:
 * Primary: #4a90e2ff;
 * Secondary: #e6e6faff;
 * Tertiary: #fac8cd;
 * Accent: #156064ff;
 * Background: #faf9f6ff;
 * Text Color: #36454fff;
 * Secondary Text Color: #708090ff;
 */

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #e8e6e4;

    /* sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Mobile / Desktop Exclusive */

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}

/* Fonts */

.f-title-serif {
    font-family: "Merriweather", serif;
}

.f-title-sans {
    font-family: "Raleway", sans-serif;
}

.unbold {
    font-weight: 400;
}

/* Langauge Redirect Warning */

.language-redirect {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #4a90e2ff;
    color: white;
    font-size: 1.5em;
    padding: 1em;
    position: fixed;
    width: 80%;
    z-index: 1000;
    border-radius: 15px;
    /* center the element on the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.language-redirect h1 {
    margin-bottom: .75em;
    margin-top: .5em;
}

/* Language Selector */

.language-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    border-radius: 15px;
    padding: 0;
}

.language-select a {
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    color: white;
    background: #4a90e2ff;
    transition: 0.3s;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
}

.language-select a:first-child {
    border-right: 1px solid white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.language-select a:last-child {
    border-left: 1px solid white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.language-select a span.flag {
    margin-right: .5em;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.language-select a:hover {
    color: #4a90e2ff;
    background: #e6e6faff;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5em;
    border-bottom: 1px solid gray;
    height: 10%;
}

nav .name {
    font-size: 1.5em;
    font-weight: 600;
    color: #36454fff;
    margin-left: .5em;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 30%;
}

nav .links li {
    display: inline;
}

nav .links li a {
    color: #36454fff;
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.25em;
    transition: 0.3s;
}

nav .links li a.active {
    color: #4a90e2ff;
}

nav .links li a:hover {
    color: #4a90e2ff;
}

/* Side Navigation & Hamburger Menu (for mobile devices) */

nav .hamburger {
    display: none;
    font-size: 2em;
    margin-right: 1em;
    cursor: pointer;
}

nav .hamburger div {
    width: 1.5em;
    height: 3px;
    background: #36454fff;
    margin: .3em 0;
    transition: 0.3s;
}

nav .hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(.25em, .55em);
}

nav .hamburger.active div:nth-child(2) {
    opacity: 0;
}

nav .hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(0, -.75em);
}

.side-nav {
    /* comes in from the right */
    position: absolute;
    top: 9%;
    right: -100%;
    width: 50%;
    height: auto;
    background: #e8e6e4;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: black 0 0 10px;
}

.side-nav.active {
    display: block;
    right: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.side-nav ul li {
    display: block;
    margin: 1em 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
}

.side-nav ul li:first-child {
    margin-top: 2em;
}

.side-nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 1.25em;
}

.side-nav ul li a {
    color: #36454fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.3s;
}

.side-nav ul li a.active {
    color: #4a90e2ff;
}

.side-nav ul li a:hover {
    color: #4a90e2ff;
}

.side-nav {
    display: none;
}

/* on mobile devices, display the hamburger menu */

@media (max-width: 768px) {
    nav .links {
        display: none;
    }

    nav .hamburger {
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}

/* iPhones */

@media (max-width: 500px) {
    .side-nav {
        top: 19%;
    }
}

/* Main Content */

.main {
    margin-top: .75em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    overflow: visible;
    /* sticky footer */
    flex-grow: 1;
}

.main .page-title {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #36454fff;
    font-family: Raleway, sans-serif;
}

.main .page-subtitle {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #36454fff;
    font-family: Raleway, sans-serif;
}

.main .body-text {
    font-size: 1.25em;
    color: #36454fff;
    margin-bottom: 1em;
}

/* Image-Text */

.image-text {
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: black 0 0 10px;
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

.image-text img {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
}

.image-text .text {
    display: flex;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.image-text .text .inner {
    padding: 2em;
    box-sizing: border-box;
}

.image-text .text h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #36454fff;
}

.image-text .text p {
    font-size: 1.25em;
    color: #36454fff;
}

/* Socials */

.socials {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.socials a {
    display: inline-block;
    margin: 0 1em;
    font-size: 2em;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .image-text .text {
        margin-top: 2em;
    }

    .socials {
        margin-top: 2em;
    }
}

.pop {
    color: #e6e6faff;
    font-size: 1.5em;
    padding: 1em;
    max-width: 40%;
    border-radius: 15px;
    margin: 1.5em 0;
    text-align: center;
    background: #4a90e2ff;
}

@media (max-width: 768px) {
    .image-text {
        flex-direction: column;
        width: 100%;
    }

    .image-text img {
        width: 100%;
        height: auto;
        margin-right: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .socials {
        margin-bottom: 0;
    }

    .image-text .text {
        width: 100%;
        height: auto;
    }

    .image-text .text .inner {
        width: 100%;
    }

    .image-text .text .inner h1 {
        font-size: 1.75em;
    }

    .image-text .text .inner p {
        font-size: 1em;
    }

    .pop {
        max-width: 100%;
    }
}

/* Navigation Buttons */

.navigation-buttons {
    display: flex;
    width: 75%;
    font-size: 1.5em;
}

.navigation-buttons a.button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.navigation-buttons a.button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navigation-buttons a.button {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    background: #4a90e2ff;
    transition: 0.3s;
    margin: 0;
    width: 10em;
    text-align: center;
}

.navigation-buttons a.button:hover {
    color: #4a90e2ff;
    background: #e6e6faff;
}

.navigation-buttons a.button.secondary {
    background: #ffafb0;
}

.navigation-buttons a.button.secondary:hover {
    color: #f37b7f;
    background: rgba(250, 200, 205, 0.46);
}

.navigation-buttons a.button.tertiary {
    background: #1b5d62;
}

.navigation-buttons a.button.tertiary:hover {
    color: #1b5d62;
    background: #d4dfe3;
}

/* On mobile devices, stack the buttons */

@media (max-width: 768px) {
    .navigation-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navigation-buttons a.button:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .navigation-buttons a.button:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .navigation-buttons a {
        width: 75%;
        margin: 0;
    }
}

/* Resumé List */

.resume-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    width: 100%;
}

.resume-list .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5em 0;
}

.resume-list .item .heading {
    font-size: 1.5em;
    color: #ffffff;
    width: 100%;
    min-height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* shadow for all text in the heading */
.resume-list .item .heading {
    text-shadow: #000 0 0 10px;
}

.resume-list .item .content {
    font-size: 1.25em;
    padding: 1em;
    color: #36454fff;
}

.resume-list .item .content {
    font-size: 1.25em;
    color: #36454fff;
}

/* Image Carousel */

.carousel {
    max-width: 50em;
    position: relative;
    margin: auto;
}

.carousel-item {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 50px 50px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item img {
    width: 50em;
    height: auto;
    border-radius: 15px;
}

.carousel .carousel-item .caption {
    color: #f2f2f2;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: #000 0 0 10px;
}

.carousel .carousel-item .progress-text {
    color: #f2f2f2;
    font-size: .75em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

.slide-selector {
    text-align: center;
    padding: 20px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Responsive Carousel */

@media (max-width: 768px) {
    .carousel-item img {
        width: 100%;
        height: auto;
    }
}

/* Collage */

.collage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 50em));
    grid-auto-rows: 30em;
    grid-gap: 0;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Circle Image */

.img-circle {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    object-fit: cover;
    margin-bottom: 3em;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: .03em;
    border-top: 1px solid gray;
}

footer .socials {
    margin: 0;
}

footer .socials a {
    margin: 0 .25em;
}

footer .copyright {
    font-size: 1.25em;
    color: #36454fff;
    text-align: center;
}

footer .change-language {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

footer .change-language a {
    display: inline-block;
    padding: .25em .5em;
    text-decoration: none;
    color: white;
    background: #4a90e2ff;
    transition: 0.3s;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

footer .change-language a span.flag {
    margin-right: .1em;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

/* Show just flags on mobile devices */
@media (max-width: 768px) {
    footer .change-language a span.lang-text {
        display: none;
    }
}

footer .change-language a:hover {
    color: #4a90e2ff;
    background: #e6e6faff;
}

/* Util */

.spacer {
    display: block;
    margin: 1.5em 0;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

body.lock-scroll {
    overflow: hidden;
}