.timeline {
  position: relative;
  margin: 0 auto;
  padding: 2em 0;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: 1em 1em 1em 1.5em;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  background: lightgray;
  top: 0;
}

.timeline-item:first-child::before {
  top: 50%; /* Start the line from the middle for the first item */
  height: 50%; /* Only draw the bottom half for the first item */
}

.timeline-item:last-child::before {
  height: 50%; /* Only draw the top half for the last item */
  top: 0; /* Adjust to ensure it connects properly with the previous line */
}

.timeline-date {
  font-size: 1em;
  color: gray;
}

.timeline-dot::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px; /* Half the size of the dot */
  height: 10px; /* Half the size of the dot */
  background: lightgray;
  border-radius: 50%; /* Make it a circle */
  transform: translate(-40%, -50%); /* Center it vertically and horizontally */
}

.timeline-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-title {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}