---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <!-- link to previous page -->
        <a onclick="history.back();" style="cursor: pointer;">
            &larr; {% if site.active_lang == "en" %} Back {% else %} Retour {% endif %}</a>
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.listed-date }}
            </time>
            {%- if page.modified_date -%}
            ~
            {%- assign mdate = page.modified_date | date_to_xmlschema -%}
            <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
                {{ mdate | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.authors -%}
            {% for author in page.authors %}
            <div class="project-author" style="display: inline;">
                <img src="{{ author.image }}" alt="{{ author.name }}" class="project-author-img" />
                <a href="{{ author.github }}" class="p-author h-card" itemprop="author" target="_blank">{{ author.name }}</a>
            </div>
            {%- if forloop.last == false %}&bull; {% endif -%}
            {% endfor %}
            {%- endif -%}
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">

        {%- if page.image %}<img src="{{ page.image }}" alt="{{ page.title }}" />{%- endif -%}

        {{ content }}

        {%- if page.links -%}
        <h2>{% if site.active_lang == "en" %} If you want to see more of this project... {% else %} Voulez-vous voire plus ? {% endif %}</h2>
        <div class="project-links" style="margin-top: 1em; margin-right: 0; margin-left: 0;">
            {% for link in page.links %}
                <a href="{{ link.url }}" class="project-link" target="_blank">{{ link.title }}</a>
            {% endfor %}
        </div>
        {%- endif -%}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>